<!doctype html>
<html >
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Epidermis Examiner</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="static/CSS/styles.css">
  </head>

  <body>
    <div class="bg-white">
      <div class="relative isolate px-6 pt-14 lg:px-8">
        <div class="absolute inset-x-0 -top-40 -z-10 transform-gpu overflow-hidden blur-3xl sm:-top-80" aria-hidden="true">
          <div class="relative left-[calc(50%-11rem)] aspect-[1155/678] w-[36.125rem] -translate-x-1/2 rotate-[30deg] bg-gradient-to-tr from-[#ff80b5] to-[#9089fc] opacity-30 sm:left-[calc(50%-30rem)] sm:w-[72.1875rem]" style="clip-path: polygon(74.1% 44.1%, 100% 61.6%, 97.5% 26.9%, 85.5% 0.1%, 80.7% 2%, 72.5% 32.5%, 60.2% 62.4%, 52.4% 68.1%, 47.5% 58.3%, 45.2% 34.5%, 27.5% 76.7%, 0.1% 64.9%, 17.9% 100%, 27.6% 76.8%, 76.1% 97.7%, 74.1% 44.1%)"></div>
        </div>
        <div class="mx-auto max-w-2xl py-28 sm:py-36 lg:py-8">
          <div class="hidden sm:mb-8 sm:flex sm:justify-center">
            <div class="relative rounded-full px-3 py-1 text-sm leading-6 text-gray-600 ring-1 ring-gray-900/10 hover:ring-gray-900/20">
              Examine, Empower, Embrace Healthy Skin 
            </div>
          </div>
          <div class="text-center">
            <h1 class="text-4xl font-bold tracking-tight text-gray-900 sm:text-6xl">Welcome Epidermis Examiner</h1>
            <p class="mt-6 text-lg leading-8 text-gray-600">Prioritizing skin health is more than skincare; it's a commitment to overall well-being. Your skin, the body's largest organ, deserves attention and care to protect against diseases, maintain hydration, and radiate a healthy glow. Discover how proper skincare habits can enhance your confidence and nurture a healthier you.</p>
            <div class="mt-10 flex items-center justify-center gap-x-6">
            </div>
            <form method="post" action="/" enctype="multipart/form-data">
              <div class="file-input-wrapper">
                  <label class="file-input-button">
                      Upload a picture
                      <input type="file" name="file" autocomplete="off" required>
                  </label>
              </div>
              <p style="color: rgb(0, 0, 0);">
                  <input type="submit" name="submit" value="Submit" class="file-submit-button">
              </p>
          </form>
          <br>
          <br>
          <p style="color:rgb(0, 0, 0);">
            {% with messages = get_flashed_messages() %}
              {% if messages %}
                  <hr>
                  <p class="mt-8 text-lg leading-8 text-gray-600"> Our prediction for the your uploaded image is:  </p>
                    <h3 class="text-4xl font-bold tracking-tight text-gray-900 sm:text-3xl">{{ messages[0] }}</h3>
                  <br>
                  <br>
                  <img src="{{ messages[1] }}" class="center">
                  <br>
                  <p class="text-4xl tracking-tight text-gray-900 sm:text-2xl">For further inspection contact your nearby Dermatologist</p>
              {% endif %}
            {% endwith %}
          </p>
        </div>
      </div>  
    </div>
  </body>
</html>
